<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet",href="scss/all.css")
        script(src="js/all.js")
    body
        p
            | 是指該段落是前一個標籤的內容不會獨立產生一個新標籤而 br, img 等等，這些不會有結尾標籤也不能在內部塞入其他文字內容，所以會跳錯喔
        p
            | 111111
        
        